/*
	======================================================
	   DEFAULT - CONTATO - MENU - RESTAURANTE - EVENTOS
	======================================================
*/

	.default{
		.default-container{
			.block-left{
				&.cover{
					background-size: cover;
					height: 100vh;
				}
				&.pages{
					padding-left: 70px;
					overflow: auto;
				}
				/*
					==============
					   MENU PAGE
					==============
				*/
					.menu-page{
						.menu-item{
						    min-height: 490px;
							.menu-item-block{
								.block-image{
									width: 100%;
									height: 317px;
									overflow: hidden;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 100%;
									}
								}
								.block-title{
									margin: 15px 0 10px 0;
									h2{
										margin: 0;
										color: #262626;
										font-family: "Source Serif Pro";
										font-size: 22px;
										font-weight: 400;
										text-transform: uppercase;
									}
								}
								.block-text{
									margin: 0 0 10px 0;
									p{
										margin: 0;
										color: #262626;
										font-family: 'Roboto', sans-serif;
										font-size: 16px;
										line-height: 22px;
									}
								}
								.block-view{
									a{
										text-decoration: none;
										display: inline-block;
										color: #7f1919;
										i{
											margin: 0 7px 0 0;
											font-size: 16px;
											vertical-align: middle;
											display: inline-block;
										}
										span{
											font-family: 'Roboto', sans-serif;
											font-size: 16px;
											vertical-align: middle;
											display: inline-block;
										}
									}
								}
							}
						}
					}
				/*
					==============
					  //MENU PAGE
					==============
				*/
				/*
					==============
					  CHEF PAGE
					==============
				*/
					.chef-page{
						.chef-item{
							min-height: 570px;
							.chef-item-block{
								.block-image{
									border: 6px solid transparent;
									width: 100%;
									height: 362px;
									overflow: hidden;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 100%;
									}
								}
								.block-title{
									margin: 15px 0 10px 0;
									h2{
										margin: 0;
										color: #262626;
										font-family: "Source Serif Pro";
										font-size: 22px;
										font-weight: 400;
										text-transform: uppercase;
									}
								}
								.block-text{
									p{
										margin: 0;
										color: #262626;
										font-family: 'Roboto', sans-serif;
										font-size: 16px;
										line-height: 22px;
									}
								}
							}
							&:hover{
								cursor: pointer;
								transition: 0.4s;
								.chef-item-block{
									.block-image{
										border: 6px solid #ffcc01;
									}
								}
							}
						}
					}
				/*
					==============
					  //CHEF PAGE
					==============
				*/
			}
			.block-right{
				padding: 0 70px 0 30px;
				&.pages{
					overflow: auto;
					padding: 0 70px 0 30px;
				}
				.block-right--title{
					margin: 0 0 30px 0;
					h2{
						margin: 0 0 20px 0;
						color: #262626;
						font-family: "Source Serif Pro";
						font-size: 44px;
						font-weight: 400;
						text-transform: uppercase;
					}
					&::after{
					    content: "";
					    width: 205px;
					    height: 3px;
					    background-color: #ffcc01;
					    display: block;
					}
				}
				.block-right--text{
					margin: 0 0 30px 0;
					p{
						margin: 12px 0;
						color: #1d1d1d;
						font-family: 'Roboto', sans-serif;
						font-size: 16px;
						line-height: 22px;
					}
				}
				.block-right--content{
					margin: 0 0 40px 0;
					.content-title{
						margin: 0 0 20px 0;
						h3{
							margin: 0;
							color: #262626;
							font-family: "Source Serif Pro";
							font-size: 22px;
							font-weight: 700;
							text-transform: uppercase;
						}
					}
					.content-text{
						max-width: 242px;
						p{
							margin: 0;
							color: #262626;
							font-family: 'Roboto', sans-serif;
							font-size: 16px;
						}
					}
					.content-list{
						ul{
							margin: 0;
							padding: 0;
							li{
								display: block;
								list-style-type: none;
								&:first-child{
									font-weight: 700;
								}
								p{
									font-size: 14px;
									font-family: 'Roboto', sans-serif;
									color: #262626;
									margin: 0;
								}
							}
						}
					}
				}
			}
			.block-menu{
				&.pages{
					overflow: auto;
					padding: 0 15px 0 70px;
				}
				.block-menu--title{
					margin-top: 45px;
					margin-bottom: 50px;
					h2{
						margin: 0;
						color: #262626;
						font-family: "Source Serif Pro";
						font-size: 22px;
						font-weight: 700;
						text-transform: uppercase;
					}
					span{
						color: #262626;
						font-family: "Source Serif Pro";
						font-size: 22px;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
				.block-menu--list{
					margin-bottom: 30px;
					.list-menu{
						ul{
							margin: 0;
							padding: 0;
							li{
								.list-title{
									h3{
										margin: 0;
										color: #262626;
										font-family: 'Roboto', sans-serif;
										font-size: 16px;
										text-transform: uppercase;
									}
								}
								&:first-child{
									border-bottom: none;
								}
								margin: 0 0 10px 0;
								padding: 0 0 10px 0;
								border-bottom: 1px solid #d8d8d8;
								list-style-type: none;
								display: block;
								.list-menu--title{
									line-height: normal;
									span{
										color: #262626;
										font-family: 'Roboto', sans-serif;
										font-size: 12px;
										font-weight: 700;
									}
								}
								.list-menu--desc{
									line-height: normal;
									p{
										margin: 0;
									    font-style: italic;
										font-family: 'Roboto', sans-serif;
										color: #262626;
										font-size: 12px;
										font-weight: 300;
									}
								}
							}
						}
					}
				}
			}
		}
	}



/*
	======================================================
	  //DEFAULT - CONTATO - MENU - RESTAURANTE - EVENTOS
	======================================================
*/