/*
	===============
		FOOTER
	===============
*/

	.footer{
		padding: 0 70px;
		.footer-container{
			padding: 24px 0 23px;
			.footer-container-copyright{
				p{
					margin: 0;
					color: #262626;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
				}
			}
		}
	}



/*
	===============
	   //FOOTER
	===============
*/