/*
	===============
		HEADER
	===============
*/
	.header{
		padding: 0 70px;
		.header-container{
			padding: 15px 0 14px; 
			.header-container-logo{
				display: inline-block;
				vertical-align: middle;
				h1{
					margin: 0;
					a{
						display: inline-block;
						img{
							width: 202px;
							height: auto;
						}
					}
				}
			}
			.header-container-menu{
				position: relative;
				display: inline-block;
				vertical-align: middle;
				button{
					padding: 0;
					background-color: transparent;
					border: 0;
					width: 51px;
					line-height: 41px;
				}
				.menu{
					/* Style for "Rectangle" */
					width: 350px;
					box-shadow: -2px 0 4px rgba(0, 0, 0, 0.5), inset 0 1px 3px rgba(0, 0, 0, 0.5);
					background-image: linear-gradient(180deg, #4c4c4c 0%, #191919 100%);
					transition: 0.4s;
					position: fixed;
					top: 70px;
					right: -100%;
					z-index: 2;
					background-color: #333;
					&.open{
						right: 70px;
					}
					.menu-list{
						margin: 40px 0 0 0;
						padding: 0 30px;
						ul{
							padding: 0;
							margin: 0;
							li{
								position: relative;
								line-height: normal;
								margin: 0 0 30px 0;
								display: block;
								list-style-type: none;
								span{
									color: #fff;
									font-weight: 700;
									font-size: 16px;
								}
								a{
									display: inline-block;
									text-decoration: none;
									color: #fff;
									font-weight: 700;
									font-size: 16px;
									&::after{
									    content: "";
									    position: absolute;
									    width: 0;
									    height: 3px;
									    background-color: #ffcc01;
									    top: 20px;
									    left: -84%;
									    right: 0;
									    margin-left: auto;
									    margin-right: auto;
									    transition: .25s;
									}
									&:hover, &:focus{
										outline: none;
										&::after{
											content: "";
											width: 15%;
										}
									}
								}
								&.active{
									a{
										&::after{
											content: "";
											width: 15%;
										}
									}
								}
								&:nth-child(5){
									&:hover{
										a{
											&::after{
												content: none;
												width: 0;
											}
										}
									}
								}
								.menu-sub{
									margin: 20px 0 0 0;
									li{
										margin: 0 0 20px 0;
										a{
											text-indent: 15px;
											font-weight: 300;
											&:hover, &:focus{
												outline: none;
												&::after{
													left: -68%;
													content: "";
													width: 15%;
												}
											}
										}
									}
								}
								&:last-child{
									margin: 0;
								}
							}
						}
					}
					.menu-list-info{
						padding: 0 30px;
					    position: absolute;
    					bottom: 50px;
						.info-end{
							margin: 0 0 30px 0;
							p{
								color: #fff;
								font-size: 16px;
								margin: 0;
							}
						}
						.info-tel{
							margin: 0 0 30px 0;
							p{
								color: #fff;
								font-size: 16px;
								margin: 0;
							}
						}
						.info-social{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 20px 0 0;
									list-style-type: none;
									display: inline-block;
									a{
										color: #fff;
										display: inline-block;
										i{
											font-size: 20px;
										}
									}
									&:last-child{
										margin: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
/*
	===============
	   //HEADER
	===============
*/
