/*
	===============
	    HOMEPAGE
	===============
*/

	.home{
		padding: 0 70px;
		.home-container{
			position: relative;
			background-size: cover;
			height: 100vh;
			background-repeat: no-repeat;
			.home-container-block{
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 0;
				img{
					vertical-align: middle;
					width: 349px;
					height: auto;
				}
				.block-container{
					padding: 0 0 0 40px;
					display: inline-block;
					vertical-align: middle;
					.block-container--title{
						max-width: 569px;
						h2{
							margin: 0;
							color: #ffffff;
							font-family: "Source Serif Pro";
							font-size: 44px;
							font-weight: 400;
							text-transform: uppercase;
						}
					}
					.block-container--text{
						p{
							margin: 0;
							color: #ffffff;
							font-family: 'Roboto', sans-serif;
							font-size: 20px;
						}
					}
				}
			}
		}
	}



/*
	===============
	   //HOMEPAGE
	===============
*/