/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (max-width: 1440px){


	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){

	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){
		/*
			===============
				PAGE MENU
			===============
		*/
			.default {
				.default-container{
					.block-left{
						.menu-page{
							.menu-item{
								.menu-item-block{
									.block-image{
										height: 169px;
									}
								}
							}
						}
						.chef-page{
							.chef-item {
								.chef-item-block{
									.block-image{
										height: 249px;
									}
								}
							}
						}
					}
				}
				
			}

		/*
			===============
			  //PAGE MENU
			===============
		*/
	}
/*
######################################
	//RESPONSIVE MD
######################################
*/