/*
######################################
	RESPONSIVE XS
######################################
*/
	//Mobile Geral
	@media only screen and(min-width: 320px) and (max-width: 414px){

	}
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 480px) and (orientation: portrait){
		/*
			================
				HEADER
			================
		*/
			.header{
				padding: 0 15px;
			    -webkit-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				&.header-responsive{
					-webkit-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					-moz-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					top: 0;
					left: 0;
					transition: 0.25s;
					background:rgba(255,255,255, 0.9);
				    position: fixed;
					z-index: 2;
				}
				.header-container{
					.header-container-logo{
						h1{
							a{
								img{
									width: 160px;
									height: auto;
								}
							}
						}
					}
					.header-container-menu{
						button{
							line-height: 35px;
							img{
								width: 40px;
								height: auto;
							}
						}
						.menu {
							height: 100% !important;
						    width: 275px;
							top: 64px;
							&.open{
								right: 0;
							}
							.menu-list{
								margin: 0 0 20px 0;
								padding: 0 20px;
								ul{
									margin: 20px 0 0 0;
									li{
										margin: 0 0 12px 0;
										.menu-sub{
											margin: 10px 0 0 0;
											li{
												margin: 0 0 7px 0;
											}
										}
									}
								}
							}
							.menu-list-info{
								bottom: 75px;
								padding: 0 20px;
								.info-end{
									margin: 0 0 7px;
								}
								.info-tel{
									margin: 0 0 7px;
								}
							}
						}
					}
				}
			}


		/*
			================
			    //HEADER
			================
		*/

		/*
			================
			    HOMEPAGE
			================
		*/
			.home {
				padding: 0;
				.home-container {
					.home-container-block{
					    bottom: 40px;
						img{
							display: none;
						}
						.block-container{
							padding: 0 15px;
							.block-container--title{
								margin: 95px 0 10px;
								h2{
									font-size: 28px;
								    line-height: 32px;
								}
							}
							.block-container--text{
								p{
									font-size: 18px;
								    line-height: 22px;
								}
							}
						}
					}
				}
			}
		/*
			================
			   //HOMEPAGE
			================
		*/


		/*
			================
			    FOOTER
			================
		*/
			.footer {
			    border-top: 1px solid rgba(0, 0, 0, 0.1);
				padding: 0 15px;
				.footer-container{
					padding: 13px 0 12px;
					.footer-container-copyright{

					}
				}
			}
		/*
			================
			   // FOOTER
			================
		*/


		/*
			=====================
			   PAGE DEFAULTS
			=====================
		*/
			.default{
				&.default-space{
					margin: 30px 0 0 0;
				}
				.default-container{
					.block-menu{
						height: initial !important;
						&.pages{
							overflow: initial;
							padding: 0 15px;
						}
						.block-menu--title{
						    margin-top: 25px;
    						margin-bottom: 30px;
							line-height: normal;
							h2{
								line-height: normal;
								font-size: 20px;
							}
							span{
								line-height: normal;
								font-size: 20px;
							}
						}
					}
					.block-left{
						&.menu{
							height: initial !important;
						}
						&.chef{
							height: initial !important;
						}
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.chef-page{
							.chef-item{
								margin: 0 0 20px 0;
								min-height: initial;
							}
						}
						.menu-page{
							.menu-item{
								margin: 0 0 25px 0;
								min-height: initial;
							}
						}
					}
					.block-right {
						height: initial !important;
						padding: 0 15px;
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.block-right--title{
							margin: 20px 0 25px;
							h2{
								font-size: 23px;
    							line-height: 28px;
								margin: 0 0 7px 0;
							}
						}
					}
				}
			}


		/*
			=====================
			  //PAGE DEFAULTS
			=====================
		*/
	}
	//Mobile Landscape (Modo paisagem)
	@media only screen and(min-width: 480px) and (max-width: 920px) and (orientation: landscape){
		/*
			================
				HEADER
			================
		*/
			.header{
				padding: 0 15px;
				-webkit-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				&.header-responsive{
					top: 0;
					left: 0;
					transition: 0.25s;
					background:rgba(255,255,255, 0.9);
				    position: fixed;
				    -webkit-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					-moz-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					z-index: 2;
				}
				.header-container{
					.header-container-logo{
						h1{
							a{
								img{
									width: 160px;
									height: auto;
								}
							}
						}
					}
					.header-container-menu{
						button{
							line-height: 35px;
							img{
								width: 40px;
								height: auto;
							}
						}
						.menu {
							height: 100% !important;
						    width: 275px;
							top: 64px;
							&.open{
								right: 0;
							}
							.menu-list{
								margin: 0 0 20px 0;
								padding: 0 20px;
								ul{
									margin: 20px 0 0 0;
									li{
										margin: 0 0 10px 0;
										.menu-sub{
											margin: 8px 0 0 0;
											li{
												margin: 0 0 7px 0;
											}
										}
									}
								}
							}
							.menu-list-info{
								display: none;
							}
						}
					}
				}
			}


		/*
			================
			    //HEADER
			================
		*/

		/*
			================
			    HOMEPAGE
			================
		*/
			.home {
				padding: 0;
				.home-container {
					.home-container-block{
					    bottom: 30px;
						img{
							display: none;
						}
						.block-container{
							padding: 0 15px;
							.block-container--title{
								max-width: 337px;
								h2{
									font-size: 28px;
								    line-height: 34px;
								}
							}
							.block-container--text{
								max-width: 320px;
								p{
									font-size: 18px;
								    line-height: 22px;
								}
							}
						}
					}
				}
			}
		/*
			================
			   //HOMEPAGE
			================
		*/


		/*
			================
			    FOOTER
			================
		*/
			.footer {
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				padding: 0 15px;
				.footer-container{
					padding: 10px 0 8px;
					.footer-container-copyright{
						padding: 0 15px;
					}
				}
			}
		/*
			================
			   // FOOTER
			================
		*/


		/*
			=====================
			   PAGE DEFAULTS
			=====================
		*/
			.default{
				&.default-space{
					margin: 30px 0 0 0;
				}
				.default-container{
					.block-menu{
						height: initial !important;
						&.pages{
							overflow: initial;
							padding: 0 15px;
						}
						.block-menu--title{
						    margin-top: 25px;
    						margin-bottom: 30px;
							line-height: normal;
							h2{
								line-height: normal;
								font-size: 20px;
							}
							span{
								line-height: normal;
								font-size: 20px;
							}
						}
					}
					.block-left{
						&.menu{
							height: initial !important;
						}
						&.chef{
							height: initial !important;
						}
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.chef-page{
							.chef-item{
								margin: 0 0 20px 0;
								min-height: initial;
							}
						}
						.menu-page{
							.menu-item{
								margin: 0 0 25px 0;
								min-height: initial;
							}
						}
					}
					.block-right {
						height: initial !important;
						padding: 0 15px;
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.block-right--title{
							margin: 20px 0 25px;
							h2{
								font-size: 23px;
    							line-height: 28px;
								margin: 0 0 7px 0;
							}
						}
					}
				}
			}


		/*
			=====================
			  //PAGE DEFAULTS
			=====================
		*/
	}
/*
######################################
	//RESPONSIVE XS
######################################
*/