/*
######################################
	RESPONSIVE SM
######################################
*/
	//Tablet Geral
	@media only screen and(min-width: 768px) and (max-width: 1024px){
		/*
			================
				HEADER
			================
		*/
			.header{
				padding: 0 15px;
			    -webkit-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				&.header-responsive{
					-webkit-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					-moz-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					top: 0;
					left: 0;
					transition: 0.25s;
					background:rgba(255,255,255, 0.9);
				    position: fixed;
					z-index: 2;
				}
				.header-container{
					.header-container-logo{
						h1{
							a{
								img{
									width: 210px;
									height: auto;
								}
							}
						}
					}
					.header-container-menu{
						button{
							line-height: 50px;
							img{
								width: 55px;
								height: auto;
							}
						}
						.menu {
							height: 100% !important;
						    width: 320px;
							top: 79px;
							&.open{
								right: 0;
							}
							.menu-list{
								margin: 0 0 20px 0;
								padding: 0 20px;
								ul{
									margin: 20px 0 0 0;
									li{
										margin: 0 0 30px 0;
										a{
											font-size: 20px;
										}
										span{
											font-size: 20px;
										}
										.menu-sub{
											margin: 10px 0 0 0;
											li{
												margin: 0 0 7px 0;
											}
										}
									}
								}
							}
							.menu-list-info{
								bottom: 110px;
								padding: 0 20px;
								.info-end{
									margin: 0 0 7px;
									p{
										font-size: 18px;
									}
								}
								.info-tel{
									margin: 0 0 7px;
									p{
										font-size: 18px;
									}
								}
								.info-social{
									ul{
										li{
											a{
												i{
													font-size: 22px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}


		/*
			================
			    //HEADER
			================
		*/

		/*
			================
			    HOMEPAGE
			================
		*/
			.home {
				padding: 0;
				.home-container {
					.home-container-block{
					    bottom: 70px;
						img{
							display: none;
						}
						.block-container{
							padding: 0 15px;
							.block-container--title{
								margin: 0 0 10px;
								h2{
									font-size: 44px;
								    line-height: 52px;
								}
							}
							.block-container--text{
								max-width: 460px;
								p{
									font-size: 20px;
								    line-height: 26px;
								}
							}
						}
					}
				}
			}
		/*
			================
			   //HOMEPAGE
			================
		*/


		/*
			================
			    FOOTER
			================
		*/
			.footer {
			    border-top: 1px solid rgba(0, 0, 0, 0.1);
				padding: 0 15px;
				.footer-container{
					padding: 22px 0 20px;
					.footer-container-copyright{

					}
				}
			}
		/*
			================
			   // FOOTER
			================
		*/


		/*
			=====================
			   PAGE DEFAULTS
			=====================
		*/
			.default{
				&.default-space{
					margin: 30px 0 0 0;
				}
				.default-container{
					.block-menu{
						height: initial !important;
						&.pages{
							overflow: initial;
							padding: 0 15px;
						}
						.block-menu--title{
						    margin-top: 25px;
    						margin-bottom: 30px;
							line-height: normal;
							h2{
								line-height: normal;
								font-size: 20px;
							}
							span{
								line-height: normal;
								font-size: 20px;
							}
						}
					}
					.block-left{
						&.menu{
							height: initial !important;
						}
						&.chef{
							height: initial !important;
						}
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.chef-page{
							.chef-item{
								margin: 0 0 20px 0;
								min-height: initial;
								.chef-item-block{
									.block-image{
										height: 247px;
									}
								}
							}
						}
						.menu-page{
							.menu-item{
								margin: 0 0 25px 0;
								min-height: initial;
								.menu-item-block{
									.block-image{
										height: 180px;
									}
								}
							}

						}
					}
					.block-right {
						height: initial !important;
						padding: 0 15px;
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.block-right--title{
							margin: 20px 0 25px;
							h2{
								font-size: 23px;
    							line-height: 28px;
								margin: 0 0 7px 0;
							}
						}
						.block-right--content{
							margin: 0 0 25px 0;
							.content-title{
								margin: 0 0 10px 0;
								h3{
									font-size: 20px;
								}
							}
						}
					}
				}
			}


		/*
			=====================
			  //PAGE DEFAULTS
			=====================
		*/
	}
	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: portrait){
		/*
			================
				HEADER
			================
		*/
			.header{
				padding: 0 15px;
			    -webkit-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				-moz-box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				box-shadow: -1px -1px 6px -1px rgba(0,0,0,0.75);
				&.header-responsive{
					-webkit-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					-moz-box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					box-shadow: -1px -1px 12px -1px rgba(0,0,0,0.75);
					top: 0;
					left: 0;
					transition: 0.25s;
					background:rgba(255,255,255, 0.9);
				    position: fixed;
					z-index: 2;
				}
				.header-container{
					.header-container-logo{
						h1{
							a{
								img{
									width: 210px;
									height: auto;
								}
							}
						}
					}
					.header-container-menu{
						button{
							line-height: 50px;
							img{
								width: 55px;
								height: auto;
							}
						}
						.menu {
							height: 100% !important;
						    width: 320px;
							top: 79px;
							&.open{
								right: 0;
							}
							.menu-list{
								margin: 0 0 20px 0;
								padding: 0 20px;
								ul{
									margin: 20px 0 0 0;
									li{
										margin: 0 0 30px 0;
										a{
											font-size: 20px;
										}
										span{
											font-size: 20px;
										}
										.menu-sub{
											margin: 10px 0 0 0;
											li{
												margin: 0 0 7px 0;
											}
										}
									}
								}
							}
							.menu-list-info{
								bottom: 110px;
								padding: 0 20px;
								.info-end{
									margin: 0 0 7px;
									p{
										font-size: 18px;
									}
								}
								.info-tel{
									margin: 0 0 7px;
									p{
										font-size: 18px;
									}
								}
								.info-social{
									ul{
										li{
											a{
												i{
													font-size: 22px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}


		/*
			================
			    //HEADER
			================
		*/

		/*
			================
			    HOMEPAGE
			================
		*/
			.home {
				padding: 0;
				.home-container {
					.home-container-block{
					    bottom: 70px;
						img{
							display: none;
						}
						.block-container{
							padding: 0 15px;
							.block-container--title{
								margin: 0 0 10px;
								h2{
									font-size: 44px;
								    line-height: 52px;
								}
							}
							.block-container--text{
								max-width: 460px;
								p{
									font-size: 20px;
								    line-height: 26px;
								}
							}
						}
					}
				}
			}
		/*
			================
			   //HOMEPAGE
			================
		*/


		/*
			================
			    FOOTER
			================
		*/
			.footer {
			    border-top: 1px solid rgba(0, 0, 0, 0.1);
				padding: 0 15px;
				.footer-container{
					padding: 22px 0 20px;
					.footer-container-copyright{

					}
				}
			}
		/*
			================
			   // FOOTER
			================
		*/


		/*
			=====================
			   PAGE DEFAULTS
			=====================
		*/
			.default{
				&.default-space{
					margin: 30px 0 0 0;
				}
				.default-container{
					.block-menu{
						height: initial !important;
						&.pages{
							overflow: initial;
							padding: 0 15px;
						}
						.block-menu--title{
						    margin-top: 25px;
    						margin-bottom: 30px;
							line-height: normal;
							h2{
								line-height: normal;
								font-size: 20px;
							}
							span{
								line-height: normal;
								font-size: 20px;
							}
						}
					}
					.block-left{
						&.menu{
							height: initial !important;
						}
						&.chef{
							height: initial !important;
						}
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.chef-page{
							.chef-item{
								margin: 0 0 20px 0;
								min-height: initial;
								.chef-item-block{
									.block-image{
										height: 247px;
									}
								}
							}
						}
						.menu-page{
							.menu-item{
								margin: 0 0 25px 0;
								min-height: initial;
								.menu-item-block{
									.block-image{
										height: 180px;
									}
								}
							}

						}
					}
					.block-right {
						height: initial !important;
						padding: 0 15px;
						&.pages{
							padding: 0 15px;
							overflow: initial;
						}
						.block-right--title{
							margin: 20px 0 25px;
							h2{
								font-size: 23px;
    							line-height: 28px;
								margin: 0 0 7px 0;
							}
						}
						.block-right--content{
							margin: 0 0 25px 0;
							.content-title{
								margin: 0 0 10px 0;
								h3{
									font-size: 20px;
								}
							}
						}
					}
				}
			}


		/*
			=====================
			  //PAGE DEFAULTS
			=====================
		*/
	}
	//Tablet Landscape (Modo paisagem)
	@media only screen and(min-width: 960px) and (max-width: 1280px) and (orientation: landscape){
	}


	//7
	@media only screen and(min-width: 600px) and (max-width: 767px) and (orientation: portrait){

	}





/*
######################################
	//RESPONSIVE SM
######################################
*/